################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/bin/Debug
/obj/Debug
/PictureUtil.csproj.user
/*.suo
/PhotoNamer.csproj.user
/StyleCop.Cache
