<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="Path" value="C:\Temp\Videos" />
    <add key="FormatString" value="100 {0}" />
    <add key="ForPhotosNotVideos" value="false" />
  </appSettings>
</configuration>